<!DOCTYPE html>
<html>
    <head>
        <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
        <title>
            インターネット広告について
            パスファインダー, インターネット広告
        </title>
    </head>
    <body>
        <div id="sidebar">
            <h2>目次</h2>
            <ul>
                <li><a href="#chapter1">キーワード</a></li>
                <li><a href="#chapter2">入門的な情報源</a></li>
                <li><a href="#chapter3">図書を探す</a></li>
                <li><a href="#chapter4">雑誌・雑誌記事を探す</a></li>
                <li><a href="#chapter5">新聞・新聞記事を探す</a></li>
                <li><a href="#chapter6">専門的な情報源</a></li>
                <li><a href="#chapter7">Webサイト</a></li>
            </ul>
        </div>
        <div id="content">
            <header>
                作成情報：
            </header>
            <h1>インターネット広告について</h1>
            <p>
                「インターネット広告」に関する資料や情報の探し方がわかります。
                レポート作成などの探し物に活用したり、
                インターネット広告を利用したりするときなどにも活用してみてください。
            </p>
            <h2 id="chapter1">
                キーワード
            </h2>
            <p>オンライン目録（OPAC）や各種データベースを検索する際に利用するキーワードの例です。</p>
            <table>
                <thead>
                    <tr>
                        <th>
                            キーワード一覧
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            アフィリエイト広告／バナー広告／ターゲティング広告／Cookie／タイアップ広告／リターゲティング広告／ネイティブ広告／ディスプレイ広告／ソーシャルメディア広告／メール広告／インプレッション／オーディエンスターゲティング／ステルスマーケティング／CPV(Cost Per View) ／YouTube Partner Program／SEO(Search Engine Optimization) ／CTR(Click Through Rate) ／PPC(Pay Per Click) ／Programmatic Advertising／Geo-targeting
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 id="chapter2">
                入門的な情報源
            </h2>
            <p>そもそも、「インターネット広告」って、何？基礎的なことを調べてみましょう。</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                        ＜図書館で所蔵している、見ることができる図書・内容（一例）＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            資料情報（書誌情報）
                        </th>
                        <th>
                            請求番号・資料ID
                        </th>
                        <th>
                            配置場所
                        </th>
                    </tr>
                    <tr>
                        <th>
                            総合百科事典ポプラディア 第3版. 株式会社ポプラ社, 2021年.
                        </th>
                        <th>
                            031 P81 1…18
                        </th>
                        <th>
                            図情図書館<br>
                            1階低書架
                        </th>
                    </tr>
                    <tr>
                        <td>
                            「インターネット」について……<br>
                            2巻p.129にインターネットについての特集ページがある。<br>
                            「広告」について……<br>
                            6巻p.76 １列目に広告についての記載がある。
                        </td>
                        <td>
                            2巻：031 P81 2<br>
                            3巻：031 P81 6
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            日本大百科.小学館（注：データベース上のものを参考にしている）
                        </th>
                        <th></th>
                        <th>
                            JapanKnowledge
                        </th>
                    </tr>
                    <tr>
                        <td>
                            「インターネット広告」について…<br>
                            矢野 武.“インターネット広告”. 日本大百科全書（ニッポニカ）JapanKnowledge.2021.<br>
                            インターネット広告全般についての記載がある。
                        </td>
                        <td>
                            ID：1001000307394
                        </td>
                        <td>
                            筑波大学附属図書館データベースから、学内アクセスのみで利用可能
                        </td>
                    </tr>
                    <tr>
                        <th>
                            現代用語の基礎知識2022. 自由国民社,2022年.
                        </th>
                        <th>
                            813.7 G34 2022
                        </th>
                        <th>
                            図情図書館<br>
                            2階参考図書
                        </th>
                    </tr>
                    <tr>
                        <td>
                            「インターネット広告」について……<br>
                            p.272にインターネット広告全般についての記載がある。
                            特にコロナ禍の影響を受けての情報が多い。
                            2019年の特集にも<u>オンライン広告</u>として掲載されている。
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h2 id="chapter3">
                図書を探す
            </h2>
            <h3>
                学内の所蔵を探す
            </h3>
            <h4>
                テーマの棚に行って探す
            </h4>
            <p>図書には1 冊毎にテーマを表す分類番号が付いていて、この番号順に書架に並んでいます。</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                            ＜関連分野の分類記号＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            336.74
                        </td>
                        <td>
                            広告.宣伝（経済）
                        </td>
                        <td>
                            近年ではあまり取り上げられていない。（大学図書館にも1900年代後半の資料がある程度）
                        </td>
                    </tr>
                    <tr>
                        <td>
                            674
                        </td>
                        <td>
                            広告.宣伝（産業）
                        </td>
                        <td>
                            広告全般についての情報を得られる。こちらの方が図書館の蔵書は多い。
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                Tulips Searchで調べる
            </h4>
            <p>Tulips Searchの<u>OPAC検索モード</u>で筑波大学図書館の蔵書を調べることができます。
                資料の所蔵の有無、配架場所、請求記号がわかります。
            </p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                            ＜図書館で所蔵している図書（一例）＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            資料情報（書誌情報）
                        </th>
                        <th>
                            請求番号・資料ID
                        </th>
                        <th>
                            配置場所
                        </th>
                    </tr>
                    <tr>
                        <td>
                            高橋秀雄. インターネット時代の広告と機能・効果と展開. 中央経済社 , 2017, 175p.
                        </td>
                        <td>
                            記号：674.1-Ta33<br>
                            ID：10017009625                        
                        </td>
                        <td>
                            中央図書館<br>
                            4階本館
                        </td>
                    </tr>
                    <tr>
                        <td>
                            丸岡吉人ほか. 田中洋, 岸志津江, 嶋村和恵編. 現代広告全書: デジタル時代への理論と実践 . 有斐閣, 2021, 270p.
                        </td>
                        <td>
                            記号：674-Ta84<br>
                            ID：10022001947
                        </td>
                        <td>
                            体芸図書館<br>
                            3階
                        </td>
                    </tr>
                    <tr>
                        <td>
                            日本アドバタイザーズ協会Web広告研究会監修 . ネット広告白書: 2010. インプレスR&D , インプレスコミュニケーションズ, 2009, 223p.
                        </td>
                        <td>
                            記号：674.6-N66-2010<br>
                            ID：10009020121
                        </td>
                        <td>
                            図情図書館<br>
                            2階閲覧室
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>
                国内で刊行されている図書を探す
            </h3>
            <h4>
                ○「国立国会図書館サーチ：NDL SEARCH」　【インターネット】　<a href="https://ndlsearch.ndl.go.jp/">https://ndlsearch.ndl.go.jp/</a>
            </h4>
            <p>国立国会図書館に所蔵されている所蔵資料、全国の図書館の所蔵状況がわかる。<br></p>
            <h4>
                ○「CiNii Books」　【インターネット】　<a href="https://ci.nii.ac.jp/books//">https://ci.nii.ac.jp/books/</a>
            </h4>
            <p>全国の大学図書館などが所蔵する図書、雑誌、古典籍などがどこの図書館に所蔵されているかがわかる。（注：2025年度の後半にCiNii Researchへ統合される予定）<br></p>
            <h4>
                ○「日本件名図書目録」　【図書目録】
            </h4>
            <p>日外アソシエーツ株式会社編. 日本件名図書目録. 日外アソシエーツ.<br>
            国内で刊行された図書を件名から探すことができる。図情図書館１階閲覧室に配架されている。<br></p>

            <h3>
                海外の所蔵を探す
            </h3>
            <h4>
                ○「Library of Congress Online Catalogs」　【インターネット】　<a href="http://www.loc.gov/catalog/">http://www.loc.gov/catalog/</a>
            </h4>
            <p>世界最大の図書館であるアメリカ議会図書館が提供しているオンライン目録。</p>
            <h4>
                ○「The interim catalogue」　【インターネット】　<a href="https://bll01.primo.exlibrisgroup.com/discovery/search?vid=44BL_INST:BLL01&lang=en">https://bll01.primo.exlibrisgroup.com/discovery/search?vid=44BL_INST:BLL01&lang=en</a>
            </h4>
            <p>英国図書館のオンライン目録。なお、以前までのカタログがハッキング被害を受け、現在は暫定的に中間カタログにて公開している。2023年4月以前にカタログ化された印刷コレクションの記録が含まれている。</p>
            <h4>
                ○「WorldCat」　【インターネット】　<a href="https://search.worldcat.org/ja">https://search.worldcat.org/ja</a>
            </h4>
            <p>OCLC による 世界の図書館が所蔵する資料（図書、雑誌、AV 資料等）の総合目録。</p>
            <h4>
                ○「Googleブックス」　【インターネット】　<a href="https://books.google.co.jp/">https://books.google.co.jp/</a>
            </h4>
            <p>Googleが提供する、書誌情報に関する包括なインデックスを検索するサービス。</p>
            <h2 id="chapter4">
                雑誌・雑誌記事を探す
            </h2>
            <h3>
                雑誌の探し方
            </h3>
            <h3>
                学内の所蔵を探す
            </h3>
            <p>オンライン目録（ＯＰＡＣ）で本学図書館の蔵書を調べることができます。資料の所蔵の有無、配架場所、請求記号がわかります。</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                            ＜図書館で所蔵している主な雑誌（一例）＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            資料情報（書誌情報）
                        </th>
                        <th>
                            請求番号・資料ID
                        </th>
                        <th>
                            配置場所
                        </th>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            広告. 内外通信社博報堂.
                        </td>
                        <td rowspan="2">
                            1961年から1966年まで：I-コ21500
                        </td>
                        <td>
                            1969以前:中央図書館本館1階集密書架
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1970以降 :中央図書館新館4階集密書架
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2014年から2023年：和 コ
                        </td>
                        <td>
                            新着：
                            体芸図書館1階新着雑誌コーナー
                            バックナンバー；
                            体芸図書館1階南側書庫内、和雑誌                    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            週刊東洋経済. 東洋経済新報社.
                        </td>
                        <td>
                            H-シ36000
                        </td>
                        <td>
                            新着分(3ヶ月～1年分程度): 中央図書館本館2階学生用雑誌コーナー
                        </td>
                    </tr>
                    <tr>
                        <td>
                            日経ビジネス. 日経マグロウヒル社.
                        </td>]
                        <td>
                            H-ニ16000
                        </td>
                        <td>
                            新着分(3ヶ月～1年分程度): 中央図書館本館2階学生用雑誌コーナー
                        </td>
                    </tr>
                </tbody>
            </table>
            <p align="right">など……</p>
            <h3>
                国内で刊行されている雑誌・雑誌記事を探す
            </h3>
            <h4>
                ○「大宅壮一文庫雑誌記事索引」　【インターネット】　<a href="https://www.oya-bunko.com/">https://www.oya-bunko.com/</a>
            </h4>
            <p>大宅壮一文庫が所蔵する主要雑誌の記事索引データベース。
                週刊誌・総合誌・ファッション誌・女性誌など、一般誌を中心に収録されているのが特徴。
                <u>筑波大学附属図書館データベースから、学内アクセスのみで利用可能。</u>
            </p>
            <h4>
                ○「国立国会図書館サーチ：NDL SEARCH」　【インターネット】　<a href="https://ndlsearch.ndl.go.jp/">https://ndlsearch.ndl.go.jp/</a>
            </h4>
            <p>
                国立国会図書館に所蔵されている所蔵資料、全国の図書館の所蔵状況がわかる。
                <u>「国立国会図書館に所蔵されている論文・雑誌」</u>が検索できるため、最新の論文・雑誌等は見つからない可能性がある。
            </p>
            <h4>
                ○「CiNii Research」　【インターネット】　<a href="http://webcatplus.nii.ac.jp/">http://webcatplus.nii.ac.jp/</a>
            </h4>
            <p>
                日本の学術情報を統合的に検索することができる学術情報検索基盤。<u>更新頻度が高い</u>ため、最新の論文・雑誌を見つけるのは適している。
                収録されている抄録もわかるため、CiNii Booksと共用して該当の文献を見つけることもできる。
            </p>
            <h3>
                海外で刊行されている雑誌・雑誌記事を探す
            </h3>
            <h4>
                ○「Ulrichsweb」　【インターネット】　<a href="http://www.ulrichsweb.serialssolutions.com/">http://www.ulrichsweb.serialssolutions.com/</a>
            </h4>
            <p>世界中で出版されている約25万誌の刊行物情報、出版社情報、A & Iサービス、また雑誌の発注などが確認できる。
                筑波大学附属図書館と蔵書目録(OPAC)とも連動している。
                英単語で検索すると良い。（例：Internet advertising）内容は閲覧できない。
                <u>筑波大学附属図書館データベースから、学内アクセスのみで利用可能。</u>
            </p>
            <h4>
                ○「OECD iLibrary」　【インターネット】　<a href="https://www.oecd-ilibrary.org/">https://www.oecd-ilibrary.org/</a>
            </h4>
            <p>
                OECDが出版する報告書やデータベースを閲覧することができるオンラインライブラリー。英単語で検索すると良い。
            </p>
            <table>
                <thead>
                    <tr>
                        <th>
                            ＜こんな雑誌記事が検索できます＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            記事情報
                        </th>
                    </tr>
                    <tr>
                        <td>
                            OECD. Chapter 5 Developments in digital content. OECD Internet Economy Outlook 2012. 2012年, p157-p194.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            若江雅子. 日本経済に発想の転換を　日本はGAFAに甘すぎる　日本と同じ「消費者サイド」のEUの戦略に学べ！: ※メタ社の投資詐欺広告問題への対応、サードパーティ・クッキーとは、個人情報の定義、EUの「対PF戦略」. 文藝春秋. 2024年, p.148-158.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ニュース最前線　公取委がグーグルを初処分　露呈した検索市場の危うさ　ヤフーへの検索関連技術提供を制限。反故にされた公取委との約束とは: ※独占禁止法に基づき米グーグルに行政処分を下した公取委、検索連動型広告市場. 週刊東洋経済. 2024, p.20-21
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 id="chapter5">
                新聞・新聞記事を探す
            </h2>
            <h3>
                原紙／縮刷版
            </h3>
            <p>新聞コーナーに原紙があります。縮刷版は現物の新聞をそのまま縮小して冊子体にしたものです。</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            ＜図書館で購読している新聞＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>朝日新聞</td>
                        <td>毎日新聞</td>
                    </tr>
                    <tr>
                        <td>読売新聞</td>
                        <td>日本経済新聞</td>
                    </tr>
                </tbody>
            </table>
            <p>縮刷版は、朝日・読売は図情図書館に、朝日・毎日・読売・日本経済は中央図書館に収蔵されている。</p>
            <h3>
                新聞記事の探し方
            </h3>
            <h4>
                データベース
            </h4>
            <p>探しているテーマの新聞記事をテーマ、キーワード、日付等から検索して全文を読むことができます。</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                            ＜図書館で利用できるデータベース＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            データベース
                        </th>
                        <th>
                            新聞
                        </th>
                        <th>
                            収録期間
                        </th>
                    </tr>
                    <tr>
                        <td>朝日新聞記事クロスサーチ</td>
                        <td>朝日新聞</td>
                        <td>1879年から現在の記事</td>
                    </tr>
                    <tr>
                        <td>ヨミダス歴史館</td>
                        <td>読売新聞</td>
                        <td>1874年から現在の記事</td>
                    </tr>
                    <tr>
                        <td>毎索</td>
                        <td>毎日新聞</td>
                        <td>1872年から現在の記事</td>
                    </tr>
                    <tr>
                        <td>日経テレコン</td>
                        <td>日本経済新聞</td>
                        <td>1975年から現在の記事</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>
                            ＜こんな新聞記事が検索できます＞
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            記事情報
                        </th>
                    </tr>
                    <tr>
                        <td>
                            松田果穂. 誇大・不当ネット広告、昨年度１５３事業者指導 「○○するだけ」／東京都. 朝日新聞. 2024年7月24日, 朝刊, 東京四域・1地方. 23ページ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ネット広告業界の透明性向上が急務だ（社説）. 日本経済新聞. 2024年9月14日, 朝刊, 2ページ
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 id="chapter6">
                専門的な情報源
            </h2>
            <p>更に深くテーマを掘り下げるには専門事典、白書、年鑑などの情報源が役立ちます。</p>
            <table>
                <thead>
                    <tr>
                        <th>
                            資料情報（書誌情報）
                        </th>
                        <th>
                            請求番号・資料ID
                        </th>
                        <th>
                            配置場所
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            総務省編. 情報通信白書: 令和6年版. 日経印刷, 全国官報販売協同組合 , 2024, 308p.
                        </td>
                        <td>
                            692.1-J66-2024                        
                        </td>
                        <td>
                            図情図書館<br>
                            2階閲覧室
                        </td>
                    </tr>
                    <tr>
                        <td>
                            “インターネット上の広告表示”. 消費者庁. 
                        </td>
                        <td colspan="2">
                            消費者庁ホームページ
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 id="chapter7">
                Webサイト
            </h2>
            <p>キーワードを参考に、手がかりとなる単語やカテゴリーから関連サイトを検索しましょう。</p>
            <h3>
                代表的なサーチエンジン
            </h3>
            <h4>
                ○「Google」　<a href="https://www.google.com/">https://www.google.com/</a>
            </h4>
            <p>
                ロボット型検索エンジン。大規模な検索エンジンによって、Webサイトを検索することができる。
            </p>
            <h2 id="chapter8">
                類縁機関
            </h2>
            <h3>
                類縁機関の紹介
            </h3>
            <h4>
                ○「国立国会図書館」　<a href="https://www.ndl.go.jp/">https://www.ndl.go.jp/</a>
            </h4>
            <p>
                〒100-8924　千代田区永田町1-10-1　電話：03-3581-2331（代）
            </p>
            <h4>
                ○「つくば市立図書館」　<a href="https://www.city.tsukuba.lg.jp/kankobunka/bunka/toshokan/index.html">https://www.city.tsukuba.lg.jp/kankobunka/bunka/toshokan/index.html</a>
            </h4>
            <p>
                〒305-0031　つくば市吾妻二丁目8番地　電話：029-856-4311
            </p>
            <h2 id="chapter9">
                図書館にない資料を入手するには
            </h2>
            <h3>
                所蔵している図書館を調べる
            </h3>
            <h4>
                ○「国立国会図書館サーチ：NDL SEARCH」　【インターネット】　<a href="https://ndlsearch.ndl.go.jp/">https://ndlsearch.ndl.go.jp/</a>
            </h4>
            <p>国立国会図書館に所蔵されている所蔵資料、全国の図書館の所蔵状況がわかる。</p>
            <h4>
                ○「CiNii Books」　【インターネット】　<a href="https://ci.nii.ac.jp/books//">https://ci.nii.ac.jp/books/</a>
            </h4>
            <p>全国の大学図書館などが所蔵する図書、雑誌、古典籍などがどこの図書館に所蔵されているかがわかる。（注：2025年度の後半にCiNii Researchへ統合される予定）<br></p>
            <h3>
                閲覧／文献複写／現物貸借／購入を依頼する。
            </h3>
            <p>探している資料が本学図書館にない場合は以下のサービスが利用できます。</p>
            <h4>
                ○相互貸借
            </h4>
            <p>
                連携により、本学図書館を通じてつくば市立中央図書館の図書を無料で取り寄せて借りることができる。受け取りは筑波地区の図書館のみ。
            </p>
            <h4>
                ○つくば市内の研究機関等の図書館（室）を訪問
            </h4>
            <p>
                つくば市内には、研究機関等の図書館が多くあり、そのほとんどが一般に公開されている。筑波研究学園都市交流協議会の「つくばの図書館案内」から一覧を見ることが出来る。
            </p>
            <h4>
                ○他大学・他機関に行きたい場合
            </h4>
            <p>
                紹介状発行依頼申し込みによって、他大学・他機関の図書館を利用することができる場合がある。
            </p>
            <h4>
                ○学生希望図書
            </h4>
            <p>
                本学学生が附属図書館に所蔵していない、学習および研究を支援する図書を推薦することができる。
            </p>
            <footer>
                インターネット広告について・パスファインダー
            </footer>
        </div>
    </body>

</html>